
html, body { height: 100%; overflow:hidden; }

table.searchAccordion { margin : 10px 10px 10px 10px ; }

h2 {
    background-color: white;
    color: #B22929;
    display: inline;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1em;
    margin: 0px;
    padding: 0px 3px 0px 0px;
    text-transform: uppercase;
}


h2 a:hover{
    color: #7F1111;
}

h2 a{
    background: url(../images/icon/sprite-arrows.gif) no-repeat 100% 5px;
    color: #B22929;
    padding-right: 8px;
}

h4 {
    color: #055;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}

.text-data-area
{
    
}

.icon-data-area
{
    width  :  555px;
}

.view-item
{
    width  :  555px;
    height :  550px;
}

.view-item .data-item
{
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #fff 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    FLOAT: left;
    PADDING-BOTTOM: 5px;
    MARGIN: 5px;
    BORDER-LEFT: #fff 1px solid;
    WIDTH: 160px;
    CURSOR: pointer;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #fff 1px solid;
    HEIGHT: 160px;
    /*BACKGROUND-COLOR: #94B4E6;*/
    TEXT-ALIGN: center
}
.view-item .data-item .data-img
{
    width: 150px;
    height: 150px;
}

.noview-item
{
    width  :  555px;
    height :  100px;
}

.noview-item .data-item
{
    BORDER-RIGHT: #fff 1px solid;
    PADDING-RIGHT: 5px;
    BORDER-TOP: #fff 1px solid;
    PADDING-LEFT: 5px;
    FONT-SIZE: 11px;
    FLOAT: left;
    PADDING-BOTTOM: 5px;
    MARGIN: 5px;
    BORDER-LEFT: #fff 1px solid;
    WIDTH: 160px;
    CURSOR: pointer;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #fff 1px solid;
    BACKGROUND-COLOR: #F0F4FC;
    TEXT-ALIGN: center
}
.noview-item .data-item .data-img
{
    width: 0px;
    height: 0px;
    visibility: hidden;
}
.ciprodbIcon {
    background-image: url('../images/icon/folder_database.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
    padding-right:4px;
}
.homeIcon {
    background-image: url('../images/icon/house.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
    padding-right:4px;
}
.overviewIcon {
    background-image: url('../images/icon/eye.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
    padding-right:4px;
}
.helpIcon {
    background-image: url('../images/icon/help.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
    padding-right:4px;
}
.memberIcon {
    background-image: url('../images/icon/group.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
    padding-right:4px;
}
.sitemapIcon {
    background-image: url('../images/icon/sitemap_color.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
    padding-right:4px;
}
.tunicateIcon {
    background-image: url('../images/icon/tunicate.png');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
    padding-right:4px;
}

a:hover {
    border-bottom: 1px dotted #122842;
    color: #122842;
}

a {
    color: #234B7B;
    outline: 0px;
    text-decoration: none;
}

.overRow .dojoxGridCell {
    color: #000;
    background-color: #FFE284;
}

/*
.dojoxGrid table {
    margin: 0;
}
.tundra .dojoxGridMasterHeader {
    background:transparent url(images/icon/grey-ok.png) no-repeat 3px;
}
.tundra .dojoxGridRowbarSelected {
    background:transparent url(images/icon/ok.png) no-repeat left;
}
*/


#middle {
 vertical-align:middle;
 overflow:hidden;
 width:100%;
}
#sidebar {
 background-color:#f8faff;
 float:left;
 overflow:hidden;
 width:80px;
 height:100%;
 padding:0px;
 padding-left:5px;
 padding-right:5px;
 color:#833;
}
#right {
 float:right;
 text-align:center;
 background-color:#ffffff;
}
#center {
 color:#000;
 margin-left: 90px;
 background-color:#ffffff;
}
#bottom {
 clear:both;
 text-align:center;
 width:100%;
 vertical-align:bottom;
 background-color:#f8faff;
 height:45px;
}
#randimg {
 width:245px;
 border:solid 0px #8ba0bd;
 margin: 5px;
}
#items{
 left-margin:0px;
 left-padding:0px;
}
#menulist {
 list-style-type:none;
 margin:1px;
 padding:1px;
}
#menulist a {
 color:#000055;
 font-size:7pt;
 font-style:italic;
 line-height:9pt;
}

