html{
        height:100%;
}
body{
        height:100%;
        margin:0px;
        padding:0px;
        font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
}
h1{
	font-family: georgia;
	color: black;	
}

h2{
	font-weight: bold;
	font-family: sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: blue;
	position: relative;
}

h2 a img{
	position: absolute;
	top: 0px;
	right: 0px;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 0px;
	color: white;
}

h3{
	font-family: sams-serif;
	text-decoration: none;
	color: black;
}

h4{
	font-family: sans-serif;
	font-size: 13px;
	text-decoration: none;
	color: black;
}

a{
	text-decoration: none;
}

table{
	font-family: sans-serif;
	font-size: 13px;
}

td {
	padding: 2px 5px;
}

div h1{
	font-family: sans-serif;
	font-size: 24px;
	color: black;	
}

div h3{
	font-family: sans-serif;
	font-size: 16px;
	text-decoration: none;
	color: black;
}

div#menu{
	font-family:sans-serif;
	font-size:small;
}

#menu ul{ 
	margin: 0; 
	padding: 0; 
	list-style-type : none; 
}

#menu li{ 
	display : inline; 
	padding :0; 
	margin:0; 
}

#menu a{
	display:block; 
	border:1px solid #aac;
	background-color:#dde;
	font-size:small;
	padding:0.1em 0.7em 0.1em 0.7em;
	text-decoration:none;
	color:#335;
	width:8em; 
	margin:1px 0px;
	height:auto;
}

#menu a:hover{
	display:block; 
	border:1px solid #aca;
	background-color:#ded;
	font-size:small;
	padding:0.1em 0.7em 0.1em 0.7em;
	text-decoration:none;
	color:#353;
	height:auto;
}

.tabheader table {
  border-collapse: collapse; /* for IE */
  border-spacing: 0; /* for N6 */
}

.tabheader table tr td {margin:0;padding:0;border-width:0}

.tabheader .close {
  border-style: solid;
  border-width: 1px 1px 0.5px 1px; 
  border-color: #d0d0d0 #d0d0d0 #a0a0a0 #d0d0d0;
  background:url('../images/tab/tab_bg.gif') repeat-x;
  margin:0;
  padding: 0.5px;
  white-space: nowrap;
}
.tabheader .open {
  border-style: solid;
  border-width: 1px 2px 0px 1px; 
  border-color: #a0a0a0 #a0a0a0 #f0f0f0 #a0a0a0 ;
/*  background:url('../images/tab/tab_active_bg.gif') repeat-x;*/
  margin:0;
  padding: 1px;
  white-space: nowrap;
}
.tabheader .spc {
  border-style: solid;
  border-width: 0 0 1px 0; 
  border-color: #fff #fff #a0a0a0 #fff;
  margin:0;
  padding: 1px;
  white-space: nowrap;
}

.tabheader a {text-decoration: none;}
.tabbody {
  border-color: #a0a0a0;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  padding: 10px;
  height: 100%;
}

.contenttable_lmenu td{
	text-align: left;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #adadaf;
	border-right-color: #adadaf;
	border-bottom-color: #adadaf;
	border-left-color: #adadaf;
	vertical-align: top;
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	font-size: 8pt;
}
