div.chart td.value {
	background-image: url(../images/bar/gridline58.gif);
	background-repeat: repeat-x;
	background-position: left top;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	padding:0;
	border-bottom: none;
	background-color:transparent;
}
.chart td {
	padding: 4px 6px;
	border-bottom:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
	background-color:#fff;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
}
.chart td.value img {
	vertical-align: middle;
	margin: 5px 5px 5px 0;
}
.chart th {
	text-align: left;
	vertical-align:top;
}
.chart td.last {
	border-bottom:1px solid #e5e5e5;
}
.chart td.first {
	border-top:1px solid #e5e5e5;
}
.chart .auraltext
{
	position: absolute;
	font-size: 0;
	left: -1000px;
}
.chart table {
	background-image:url(../images/bar/bg_fade.png);
	background-repeat:repeat-x;
	background-position:left top;
	width: 33em;
}
.chart caption {
	font-size:90%;
	font-style:italic;
}
