/***
 *
 * This section applies styles to HTML tags
 *
 ***/

/*** Define default font and size ***/ 
BODY { font-family: Arial,Helvetica; font-size: 12pt; }

PRE { font-family: mono-space; white-space: pre; font-color: #333333; font-weight: 100; 
      font-size: 9pt; background-color: #eeeeee; padding: 5pt; width: 90%; border-style: solid;
	  border-width: 2pt; border-color: #bebebe; }
	  
OL > PRE { font-family: mono-space; white-space: pre; font-color: #333333; font-weight: 100; 
      font-size: 9pt; background-color: #eeeeee; padding: 5pt; width: 90%; border-style: solid;
	  border-width: 2pt; border-color: #bebebe; }
	  
P { font-family: Arial,Helvetica;  }
UL LI A.link{ font-size : 10pt; color : #336699; text-decoration: none; }              
H1 { color: #336699; font-size: 18pt; font-weight: bold; font-family: Verdana,Geneva,Arial,Helvetica; }	
H2 { color: #333333; font-size: 14pt; font-weight: bold; font-family: Verdana,Geneva,Arial,Helvetica; }	 
H3 { color: #333333; font-size: 10pt; font-weight: bold; font-family: Verdana,Geneva,Arial,Helvetica; }         

/***
 *
 * This section defines class styles
 *
 ***/		
		
/*** Top menu style ****/
.menu1{ color: #e8e8e8;  font-size: 13px; font-weight: bold; text-decoration: none; }

/*** bullet seperator ***/
.msep{ color: #e8e8e8; font-size: large; font-weight: bolder; }

a.link { text-decoration: none; }

.heading { font-family: Verdana,Geneva,Arial,Helvetica; font-weight: bold; color: #336699;}

.bullet { font-size: large; font-weight: bold; }

/*** Link Menu ***/
.mlink { text-decoration: none; color: black; font-weight: bold; 
         font-family: Verdana,Geneva,Arial,Helvetica; }
		 
/*** Catetogory style ***/
.cat { text-decoration: none; color: #336699; font-weight: bold; 
       font-family: Verdana,Geneva,Arial,Helvetica; }
	   
/*** Announcements Headlines ***/
.newslink { text-decoration: none; color: red; font-weight: bold; 
            font-family: Verdana,Geneva,Arial,Helvetica; }
			
.newstext { color: black; font-family: Verdana,Geneva,Arial,Helvetica; }
			
.ftnote { font-family: Verdana,Geneva,Arial,Helvetica; color: black; }

.mainheading { font-family: Verdana,Geneva,Arial,Helvetica; color: #336699; font-weight: bold;}

.legal { color:#000000;  }

.blegal { color:#ffffff; font-weight: lighter; font-size: smaller; }

.blink { text-decoration: none; color: white; font-weight: bold; 
         font-family: Verdana,Geneva,Arial,Helvetica; }

.quote { font-family: Times; font-style: italic; 
         color: #00000; }
		 
.nav { font-family: mono-space; font-size: 12px; color: #336699; padding: 5px; text-decoration: none; }

.navlink { text-decoration: none; color: #000000;}

.bluelink { text-decoration: none; color: #336699; font-weight: bold; }

.hitlink { text-decoration: none; color: #336699; font-wieght: bold;}

.hitdesc { font-family: Arial,Helvetica; font-size: 11px; }

.hitlink2 { text-decoration: none; color: #336699; font-wieght: bold; font-size: small; font-style: italic; }
