<meta http-equiv=refresh content=0;url=http://cipro1.ibio.jp/extra/extra.html>
<head>
<title>Cipro extra menu</title>
</head>
<body>
<h1><a href=http://cipro1.ibio.jp/extra/extra.html>CIPRO Extra Menu</a></h1>
</body>
