
<!-- start of sidebar -->
<!--CIPRO Links-->
<h3>CIPRO Links</h3>
<ul id=menulist>
<li><a href="#2D PAGE">2D PAGE</a></li>
<li><a href="#FABA">Dev'l stages</a></li>
<li><a href="download">Download</a></li>
<li><a href="#Help|FAQ">Help</a></li>
<li><a target=a href="http://cipro.ibio.jp/wiki/">Wiki</a></li>
<li><a target=a href="http://cipro.ibio.jp/tractis">TracTIS</a></li>
<hr/>
<li><a target=a href="http://ghost.zool.kyoto-u.ac.jp/cgi-bin/gb2/gbrowse/kh/">GHOST</a></li>
<li><a target=a href="http://chordate.bpni.bio.keio.ac.jp/faba/1.4/top.html">FABA</a></li>
<li><a target=a href="http://chordate.bpni.bio.keio.ac.jp/faba2/2.2/top.html">FABA2</a></li>
<li><a target=a href="http://chordate.bpni.bio.keio.ac.jp/acbd/top.html">ACBD</a></li>
<li><a target=a href="http://bioinfo.s.chiba-u.jp/ciaid/">CiAID</a></li>
</ul>

<!--Gene Models-->
<h3>GeneModels</h3>
<ul id=menulist>
<li><a target=x href="http://ghost.zool.kyoto-u.ac.jp/download_kh.html">KH</a></li>
<li><a target=x href="http://asia.ensembl.org/Ciona_intestinalis/Info/Index">Ensembl</a></li>
<li><a target=x href="http://genome.jgi-psf.org/ciona4/ciona4.home.html">JGI v1.0</a>
    <a target=x href="http://genome.jgi-psf.org/Cioin2/Cioin2.home.html">v2.0</a></li>
<li><a target=x href="http://genome.ucsc.edu/cgi-bin/hgGateway?org=C.+intestinalis&db=ci2&hgsid=154542973">UCSC</a>
    <a target=x href="http://hgdownload.cse.ucsc.edu/goldenPath/ci1/bigZips/">ci1</a>
    <a target=x href="http://hgdownload.cse.ucsc.edu/goldenPath/ci2/bigZips/">ci2</a></li>
<li><a target=x href="http://www.ncbi.nlm.nih.gov/UniGene/UGOrg.cgi?TAXID=7719">Unigene</a></li>
</ul>

<!--Links-->
<h3>Links</h3>
<ul id=menulist>
<li><a target=x href="http://www.tunicate-portal.org/">T-Portal</a></li>
<li><a target=x href="http://aniseed-ibdm.univ-mrs.fr/">Aniseed</a></li>
<li><a target=x href="https://www.jiscmail.ac.uk/cgi-bin/webadmin?A0=tunicata">TunicataML</a></li>
<li><a target=x href="http://depts.washington.edu/ascidian/">Ascidian News</a></li>

<!-- General Info -->
<h3>General Info</h3>
<li><a target=x href="http://en.wikipedia.org/wiki/Ciona_intestinalis">Wikipedia</a></li>
<li><a target=x href="http://www.google.com/search?q=tunicate&tbm=isch">G.Images:Tunicate</a></li>
<li><a target=x href="http://www.google.com/search?q=tunicate&tbm=isch">G.Images:Ciona</a></li>

</ul>
<!-- end of sidebar -->
