<tr><td>
<br />
<div id="div@APPLETNAME@">
<div id="table@APPLETNAME@" class = "@CLASS@">
<table style="text-align: left; width: @WIDTH@px;" border='1' cellpadding='2' cellspacing='2'>
    <tr>
      <td style="vertical-align: top; width: @WIDTH@px; height: @HEIGHT@px;">
  		<div id="Jmol@I@" class="JmolDiv" style="width: @WIDTH@px; height: @HEIGHT@px; background-image:URL(@APPLETNAME@.png)">

		<script type="text/javascript">
       		putJmolDiv(@I@, "@APPLETNAME@.spt", "@APPLETNAME@.png", @WIDTH@, @HEIGHT@);      
		</script>

		</div>
      </td>
    </tr>
    <tr>
      <td style="vertical-align: top;">     
		insert caption for @NAME@ here		
      </td>
    </tr>
</table>
</div>
<div id="text@APPLETNAME@">
Insert additonal explanatory text here. Long text will wrap around the Jmol model @NAME@.
</div>
</div>
</td></tr>

