The button @NAME@ will appear in the box below.  Insert info for @NAME@ here and below.
<table style="text-align: center; width: 100%" border="1" cellpadding="2" cellspacing="2"><tr><td>

  <script type="text/javascript">
     
     document.write(jmolButton("script @APPLETNAME0@.spt", "@LABEL@")); 
     
  </script>

</td></tr></table>
  More info for @NAME@ <br/>
  
