@charset "utf-8";
/* formatting style
-------------------------*/
* {
	font-style: normal;
	margin: 0px;
	padding: 0px;
}
body {
	font-family: sans-serif;
	line-height: 1.6;
	font-size: 75%;
}
hr {
	display: none;
}
/* link style
-------------------------*/
a img {
	border-style: none;
}
a:link {
	color: #234B7B;
	text-decoration: none;
}

a:visited {
	color: #234B7B;
	text-decoration: underline;
}
a:hover {
	color: #1c3d63;
	text-decoration: underline;
}
a:active {
	position: relative;
	left: 1px;
	top: 1px;
}

a.CIPROhelpcover:link {
	color: #FF6600;
	text-decoration: none;
}

a.CIPROhelpcover:visited {
	color: #FF6600;
	text-decoration: none;
}
a.CIPROhelpcover:hover {
	color: #FF9933;
	text-decoration: none;
}
a.CIPROhelpcover:active {
	position: relative;
	left: 1px;
	top: 1px;
}


/*basic layout
-------------------------*/

#wrapper {
	width: 250px;
	padding-left: 10px;
}
#wrapper ul p a {
	padding-left: 35px;
}
#wrapper p a {
	padding-left: 20px;
}
#wrapper h3 a {
	padding-left: 10px;
}


