@charset "utf-8";
/* formatting style
-------------------------*/
* {
	font-style: normal;
	margin: 0px;
	padding: 0px;
}
body {
	font-family: sans-serif;
	line-height: 1.6;
	font-size: 28 mm;
}
hr {
	display: none;
}
/* link style
-------------------------*/
a img {
	border-style: none;
}
a:link {
	color: #234B7B;
	text-decoration: none;
}

a:visited {
	color: #234B7B;
	text-decoration: underline;
}
a:hover {
	color: #1c3d63;
	text-decoration: underline;
}
a:active {
	position: relative;
	left: 1px;
	top: 1px;
}

/*basic layout
-------------------------*/
#wrapper {
	padding-left: 10px;
	padding-right: 10px;
}
#wrapper p {
	padding-left: 20px;
}
#wrapper h4 {
	padding-left: 150px;
	font-size: large;
}

#wrapper p img {
	padding-left: 30px;
}
#wrapper em {
font-style:oblique;
}
#wrapper blockquote {
	padding-left: 40px;
}
#wrapper p.titlebar {
	font-size: large;
	padding-left: 20px;
	line-height: 25px;
	font-weight: bold;
	color: #003366;
	background-image: url(image2.5/bar.jpg);
	width: auto;
	height: auto;
}
#wrapper p.titlebar2 {
	font-size: medium;
	line-height: 21px;
	font-weight: bold;
	color: #003366;
	background-image: url(image2.5/bar2.jpg);
	padding-left: 10px;
	width: 500px;
	height: auto;
}

#wrapper #title {
	padding-left: 50px;
}
#wrapper #address {
	padding-left: 300px;
}
#wrapper #comment1 {
	padding-left: 20px;
	width: 730px;
}
#wrapper blockquote h5 {
	float: left;
	padding-left: 60px;
}
